/* navmenu start */
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    outline: 0px !important;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

/* navMenu end  */

/* header start */
.homepage {
    height: 100vh;
    background-color: #010101;
    background-image: url('../img/back.png');
    background-size: cover;
}

.homepage_section {
    padding: 30px;
}

.homepage_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* header end */

/* news body start */
.newspage_section .news_body {
    /* padding: 40px 100px; */
}

.news_body .panel1 .title1 {
    color: #E0BA3E;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.news_body .panel1 .title2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}

.news_body .panel2 {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news_body .panel2 img {
    width: 100%;
}

.news_body .panel2 .title1 {
    font-size: 20px;
    color: white;
    text-align: justify;
}

.news_body .panel2 .title_detail {
    font-size: 20px;
    color: white;
    text-align: justify;
}

.news_body .panel2 .title_alt {
    font-size: 20px;
    color: white;
    text-align: justify;
}

.news_body .panel2 .box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.news_body .panel2 .title2 {
    margin-top: 20px;
    font-size: 30px;
    color: white;
    line-height: 10px;
    font-weight: bold;
}

.news_body .panel3 {
    margin: 20px 0;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 0.28;
    width: 100%;
}

.news_body .panel4 {

}

.news_body .panel4 .title1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.news_body .panel4 .customTextarea {
    background-color: #262626;
    width: 100%;
    border: 1px solid #707070;
    outline: 0;
    border-radius: 5px;
    padding: 20px;
    color: white;
}

.news_body .panel4 .box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.news_body .panel4 .box input {
    background-color: #262626;
    width: 100%;
    border: 1px solid #707070;
    outline: 0;
    border-radius: 5px;
    padding: 15px 20px;
    color: white;
}

.news_body .panel4 button {
    margin-top: 30px;
    background-color: #E0BA3E;
    font-size: 20px;
    width: 250px;
    border: 1px solid #707070;
    outline: 0;
    border-radius: 5px;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}

/* news body end */


/* footer */
.footer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .left {
    color: white;
    font-size: 20px;
    font-weight: unset;
}

.footer .right {
    color: white;
    font-size: 20px;
    font-weight: unset;
}
/* footer end */