/* navmenu start */
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    outline: 0px !important;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

/* navMenu end  */

/* header start */
.homepage {
    height: 100vh;
    background-color: #010101;
    background-image: url('../img/back.png');
    background-size: cover;
}

.homepage_section {
    padding: 30px;
}

.homepage_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* header end */

/* body start */
.homepage_body {
    padding-top: 40px;
}

.homepage_body .exploringNews {
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.homepage_body .exploringNews .box, .homepage_body .popularNews .box  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage_body .exploringNews .box .title1, .homepage_body .popularNews .box .title1 {
    /* font-family: SemiBold; */
    font-size: 17px;
    color: #E0BA3E;
}

.homepage_body .exploringNews .box .title2, .homepage_body .popularNews .box .title2 {
    /* font-family: Medium; */
    font-size: 18px;
    color: white;
    text-align: justify;
}

.homepage_body .exploringNews .box .readBtn, .homepage_body .popularNews .box .readBtn {
    /* font-family: Medium; */
    font-size: 16px;
    padding: 5px;
    color: #E0BA3E;
    background-color: #010101;
    border: 1px solid #E0BA3E;
    width: 150px;
    outline: 0px;
    cursor: pointer;
}

.homepage_body .exploringNews .box .readBtn:hover, .homepage_body .popularNews .box .readBtn:hover {
  /* font-family: Medium; */
  background-color: #f1c42e;
  color: #010101;
  font-weight: bold;
}

.homepage_body .exploringNews .box .lineBox, .homepage_body .popularNews .box .lineBox {
  margin-top: 15px;
  height: 2px;
  background-color: #787878;
}

.homepage_body .exploringNews .box .lineBox .line, .homepage_body .popularNews .box .lineBox .line {
  height: 100%;
  width: 50%;
  background-color: #E0BA3E;
}

.homepage_body .popularNews {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.homepage_body .newsImageBoxPanel {
  padding: 0;
}

.homepage_body .newsImageBox {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* body end */

@media only screen and (max-width: 767px) {
  .homepage_body .exploringNews {
    padding-right: 0px;
    margin: auto;
    padding-bottom: 20px;
  }
  .homepage_body .popularNews {
    padding-left: 0px;
    margin: auto;
  }
}